# Ignore all Unix executables (common pattern)
*.out
*.bin
*.exe
*.elf

# Ignore all macOS dynamic libraries
*.dylib

# Ignore all Linux shared libraries
*.so

# ignore Windows dynamic libraries
*.dll