# Ignore all Unix executables (common pattern)
*.out
*.exe
*.elf

# Ignore all macOS dynamic libraries
*.dylib
*.dSYM/ 

# Ignore all Linux shared libraries
*.so

# ignore Windows dynamic libraries
*.dll

*.build/